.jumbotron {
  padding: 2rem;
  margin-top: 20px;
  background-color: #00923f;
  border-radius: 30px;
}

.card {
  margin-left: 35px;
  margin-top: 315px;
  border-radius: 20px;
}
.column {
  margin-right: 35px;
  margin-top: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #f0f0f0;
}
ul {
  padding-left: 600px;
}
li {
  padding-left: 11px;
}
